<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ofg.foreign_teacher_server.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.ofg.foreign_teacher_server.domain.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ofg.foreign_teacher_server.domain.SysUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_user (openid, nickname, avatarurl, 
      gender, country, province, 
      city, `language`, ctime,
      mobile)
    values (#{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{mobile,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ofg.foreign_teacher_server.domain.SysUser">
    update sys_user
    set openid = #{openid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      avatarurl = #{avatarurl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      `language` = #{language,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, openid, nickname, avatarurl, gender, country, province, city, `language`, 
    ctime, mobile
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, openid, nickname, avatarurl, gender, country, province, city, `language`, 
    ctime, mobile
    from sys_user
  </select>
</mapper>